{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "proseWrap": "always"
}
